/* --------------------Background-------------------- */

.site-bg {
    background-color: #fafafa;
}




/* --------------------Sale Banner-------------------- */

.sale-banner {
    background-color: rgb(174, 255, 0);
    border-radius: 0;
    height: 50px;
    padding: 10px;
    font-family: "Cuprum", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(55, 55, 55);
}

/* --------------------Nav Bar-------------------- */

.navbar-brand {
    color: rgb(55, 55, 55);
    font-family: "Cuprum", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin: 30px;
}

.navbar {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-family: "Cuprum", sans-serif;
    font-size: 22.5px;
    font-weight: 500;
    color: rgb(55, 55, 55);
}

.dropdown-menu {
    background-color: #fafafa;
    border: none;
    border-radius: 0;
    font-family: "Cuprum", sans-serif;
    font-size: 22.5px;
    font-weight: 500;
    color: rgb(55, 55, 55);
    --bs-dropdown-link-active-color: #fafafa;
    --bs-dropdown-link-active-bg: darkgrey;
}

.navbar-toggler {
    margin: 30px;
}

.fa-solid {
    font-size: 30px;
    color: rgb(55, 55, 55);
    padding: 30px;
}


/* --------------------Footer-------------------- */